<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>Course Registration</title>
</head>
<body>

<div layout:fragment="content" style="padding-top:1em;" class="container">
    <h3>Schedule</h3>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Block </th>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Faculty Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="courseOffering,iterStat : ${courses}">
            <th scope="row" th:text="${iterStat.count}+${'.'}"></th>
            <td th:text="${courseOffering.blockName}"></td>
            <td th:text="${courseOffering.courseCode}"></td>
            <td th:text="${courseOffering.courseName}"></td>
            <td th:text="${courseOffering.facultyName}"></td>
            <td th:text="${courseOffering.startDate}"></td>
            <td>
                <a th:href="@{'/student/drop/{Id}'(Id=${courseOffering.id})}">
                    <i class="fa-regular fa-pen-to-square"></i> Leave Course
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block layout:fragment="footer"></th:block>

</body>
</html>