<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>The e-Registrar - webapp - Home</title>
</head>
<body>


<div layout:fragment="content" style="padding-top:1em;" class="container">
    <h3>Offering Page<sup>&reg;</sup></h3>
    <hr/>
    <div style="font-size: 1em">

        <p>&nbsp;</p>



        <div class="row">
            <div style="font-size: 1em">
                <!-- table with publishers-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Block Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Advisor Name</th>
                        <th scope="col">Advisor Surname</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="courseOffering,iterStat : ${data}">
                        <th scope="row" th:text="${iterStat.count}+${'.'}"></th>
                        <td th:text="${courseOffering.block.blockName}"></td>
                        <td th:text="${courseOffering.block.startDate}"></td>
                        <td th:text="${courseOffering.course.courseCode}"></td>
                        <td th:text="${courseOffering.course.name}"></td>
                        <td th:text="${courseOffering.faculty.firstName}"></td>
                        <td th:text="${courseOffering.faculty.lastName}">
                        <td th:text="${courseOffering.capacity}">
                            <a th:href="@{'/fairfieldlibrary/publisher/edit/{Id}'(Id=${courseOffering.courseOfferingId})}">
                                <i class="fa-regular fa-pen-to-square"></i> Take Course
                            </a>
                        </td>
                        <td>
                            <a th:href="@{'/fairfieldlibrary/publisher/delete/{publisherId}'(Id=${courseOffering.courseOfferingId})}">
                                <i class="fa-regular fa-book-atlas"></i> Leave Course
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${count < 1}">
                        <td colspan="10" th:align="center">No publishers found</td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </div>




    </div>
</div>







<th:block layout:fragment="footer"></th:block>

</body>
</html>